body{
    padding: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #171923;
}

.main{
    margin-left: 390px;
    overflow-wrap: break-word;
    margin-right: 100px;
    line-height: 25px;
}

a:visited{
    color: white;
}

a{
    text-decoration: none;
    color:white;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }